.button {
    background-color: #494b49;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin:10px;
    border-radius: 7px;
    cursor: pointer;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Choose file to upload';
  display: inline-block;
  background-color:#247524;
  border-radius: 8px;
  padding: 6px 60px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color:#ffffff;
  font-weight: 500;
  font-size: 15px;
  margin-left: 8px;
}
.custom-file-input:hover::before {
  border-color: black;
}


  .my-card1{
    border: 3px dotted #ccc;
    border-radius: 15px;
    padding: 10px;
    background-color:rgb(231, 229, 229);
    height: 200px;
    width: 600px;
}
.my-card2{
  border: 2px solid rgb(231, 229, 229);
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  height: 150px;
  width: 300px;
  margin-top: 20px
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}