.mapLocationCard{
    border: 2px solid rgb(231, 229, 229);
  border-radius: 10px;
  background-color: white;
  height: 500px;
  width: auto;
  padding: 15px;
}
.button {
    background-color: #494b49;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin:10px;
    border-radius: 6px;
    cursor: pointer;
}
.odd {
  background-color: gray !important;
}